
html {
    font-family: 'Noto Sans', sans-serif;
    background-color: #E5DADA;
    color: #02040F;
}
.menu {
    color: #02040F;
    border-color: #002642;
    border: solid;
    border-radius: 5px;
    padding: 1rem
}